$blackBodyColor: #2E2E2E;
$ringGrayColor: #858585;
$ringBlackColor: #090909;
$ringGrayColor2: #B3B3B3;
$whiteBottomColor: #D4D4D4;
$waveColor: #b7b7b7;
$whiteTopPart: #ededed;
$whiteRightEngineSidePart: #e9e9e9;
$whiteBackEngine: #e4e4e460;
$mirrorLightColor: #F7F7F7;
$mirrorDarkColor: #D6D6D6;

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whiteTopPart {
    background-color: $whiteTopPart;
    height: 135px;
    width: 1143px;
    rotate: 4deg;
    position: absolute;
    z-index: 2;
    left: -62px;
    right: 0;
    top: -60px;
    bottom: 0;
    margin: auto;
    border-top-left-radius: 550px 100%;
    border-bottom-left-radius: auto 100%;
    border-top-right-radius: 450px 100%;
    &::after {
        content: '';
        position: absolute;
        z-index: 3;
        background-color: $whiteRightEngineSidePart;
        right: -88px;
        top: 80px;
        bottom: 0;
        margin: auto;
        height: 20px;
        width: 100px;
        rotate: -6deg;
        border-top-right-radius: 10px 50%;
    }
    &>.backPart {
        position: absolute;
        z-index: -100;
        right: -46px;
        top: 27px;
        bottom: 0;
        height: 100px;
        width: 110px;
        background-color: $whiteBackEngine;
        transform: skewX(60deg) rotateX(60deg);
        rotate: -6deg;
        border-bottom-right-radius: 15%;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
    }
}

.windows {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: -180px;
    bottom: 0;
    margin: auto;
    height: 0;
    width: 0;
    border-top: 100px solid $mirrorDarkColor;
    border-left: 400px solid transparent;
    // border-right: 300px solid transparent;
    border-top-right-radius: 400px 100%;
    rotate: 4deg;
}

.blackPart {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    bottom: -100px;
    margin: auto;
    background-color: $blackBodyColor;
    height: 150px;
    width: 1000px;
    border-top-right-radius: 800px 110px;
    border-bottom-left-radius: 800px 110px;
    &::before {
        content: '';
        position: relative;
        height: 0;
        top: 59px;
        left: -98px;
        border-top: 59px solid $blackBodyColor;
        border-left: 110px solid transparent;
    }
    &>.frontPeakCover {
        position: absolute;
        z-index: 2;
        left: -145px;
        top: -13px;
        rotate: -30deg;
        height: 115px;
        width: 130px;
        border-top-right-radius: 130px;
        background-color: white;
    }
    &>.circularSpot {
        position: relative;
        z-index: 4;
        left: 300px;
        top: 10px;
        border: 5px solid $ringGrayColor;
        background-color: $ringBlackColor;
        border-radius: 45%;
        rotate: 5deg;
        width: 100px;
        height: 25px;
    }
    &>.secondCircularSpot {
        position: relative;
        z-index: 4;
        left: 25px;
        top: -40px;
        border: 6px solid $ringGrayColor2;
        background-color: $ringBlackColor;
        border-radius: 45%;
        rotate: 5deg;
        perspective: 3em;
        transform: rotateX(-50deg) rotateY(351deg) rotateZ(-10deg);
        width: 40px;
        height: 25px;
    }
    &>.backJoiningPart {
        position: absolute;
        z-index: 3;
        right: -43px;
        bottom: 7px;
        width: 60px;
        height: 48px;
        transform: rotateY(62deg) skewY(-10deg) rotateZ(-4deg);
        background-image: linear-gradient(to right, #242424, $blackBodyColor, #242424);
        filter: blur(1px);
        overflow: hidden;
        border: none;
        perspective: 3em;
    }
    &>.backEndPart {
        position: absolute;
        z-index: 4;
        right: -127px;
        rotate: -2deg;
        bottom: 17px;
        background-color: $blackBodyColor;
        // background-color: blue;
        border-left: 1px solid $blackBodyColor;
        width: 100px;
        height: 47px;
        border-bottom-right-radius: 100% 28px;
    }
}

.whiteBottomPart {
    background-color: $whiteBottomColor;
    height: 106px;
    width: 806px;
    position: absolute;
    z-index: 2;
    bottom: -100px;
    top: 105px;
    right: 0;
    left: 200px;
    margin: auto;
    rotate: -2deg;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10%;
    &::before {
        content: '';
        position: absolute;
        left: -220px;
        top: -60px;
        rotate: 18deg;
        border-left: 250px solid $whiteBottomColor;
        border-top: 124px solid transparent;
        border-bottom-left-radius: 100%;
    }
}